:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.keyboard:hover {
}

.attempts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.letter {
  min-width: 35px;
  width: 3vw;
  min-height: 35px;
  height: 3vw;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: .75vw;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.keyboard {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.keys-row {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.keyboard .letter {
  cursor: pointer;
}

.keyboard .letter:hover {
  background: #f5d03e;
  color: #000;
  border-color: #ffffff;
  scale: 1.1;
}

.keyboard .letter:active {
  color: #000;
  scale: .95;
}

.keyboard .letter:focus {
  outline: none;
}

.keyboard .letter:disabled {
  background: inherit;
  color: #656565;
  border-color: #656565;
  cursor: not-allowed;
  scale: 1;
}

.keyboard-pressed {
  background: #f5d03e;
  color: #000;
  scale: .95;
}

.letter:hover, .letter:active {
  transition: background .5s, color .5s, scale .25s;
}

.correct-letter {
  background: #f5d03e;
  color: #000;
}

.wrong-position-letter {
  background: #ffffff;
  color: #000;
}

.wrong-letter {
  background: #8c8c8c;
  color: #ffffff;
}
