:root {
  --main: #242424;
  --black: #000000;
  --white: #ffffff;
  --yellow: #f5d03e;
  --green: #098125;
  --grey: #646464;
  --light-grey: #c0c0c04d;
}

* {
  padding: 0;
  margin: 0;
  transition: left 1s;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--main);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background: none;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.attempts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10vh 0;
}

.attempts .letter {
  width: 65px;
  height: 65px;
  font-size: 40px;
}

.row {
  display: flex;
  gap: 10px;
}

.letter {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: var(--black);
  border: 1px solid var(--grey);
  color: var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.keys-row {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.keyboard .letter {
  cursor: pointer;
}

.keyboard .letter:hover {
  background: var(--yellow);
  color: var(--black);
  border-color: var(--white);
}

.keyboard .letter:active {
  color: var(--black);
  scale: .95;
}

.keyboard .letter:focus {
  outline: none;
}

.keyboard .letter:disabled {
  background: inherit;
  color: var(--grey);
  border-color: var(--grey);
  cursor: not-allowed;
  scale: none;
}

.keyboard-pressed {
  background: var(--yellow);
  color: var(--black);
  scale: .95;
}

.letter:hover, .letter:active {
  transition: background .5s, color .5s, scale .25s;
}

.correct-letter {
  background: var(--yellow);
  color: var(--black);
}

.wrong-position-letter {
  background: var(--white);
  color: var(--black);
}

.wrong-letter {
  background: var(--grey);
  color: var(--white);
}

.game-over {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  font-size: 100px;
  display: flex;
  color: var(--white);
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-word {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.random-word .letter {
  min-width: 80px;
  min-height: 80px;
  font-size: 35px;
}

.random-word span {
  font-size: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.play-again-button {
  background: var(--green);
  color: var(--white);
}

.dictionary {
  background: var(--black);
  color: var(--white);
  width: 15%;
  height: calc(100vh - 40px);
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.dictionary-closed {
  left: -15%;
}

.dictionary-toggle {
  width: 60px;
  height: 60px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(15% + 40px);
  top: 10px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.dictionary-toggle-closed {
  left: 0;
}
